<div class="pull-left vote-arrows">
  <div><%= link_to " ", content_up_vote_path(content), class: 'glyphicon glyphicon-chevron-up', method: :post %></div>
  <div><strong><%= content.points %></strong></div>
  <div><%= link_to " ", content_down_vote_path(content), class: 'glyphicon glyphicon-chevron-down', method: :post %></div>
</div>
